<%= form_tag hr_profiles_costs_update_year_path(@years.first), remote: true, :method => :put, :id => 'hr_profiles_costs_update_year_form' do %>
<table class="list">
  <tr class="<%= cycle 'odd', 'even' %>">
    <td></td>
    <% @profiles.each do |profile| %>
      <th><%=h profile.name %></th>
    <% end %>
    <th></th>
  </tr>
  <% @years.each do |year| %>
    <% profile_costs = @year_costs[year] %>
    <tr class="<%= cycle 'odd', 'even' %>" data-year="<%=year%>">
      <%= render :partial => 'profile_cost_row', :locals => {:year => year, :profile_costs => profile_costs} %>
    </tr>
  <% end %>
</table>
<% end %>

